.post{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 14px;
    padding: 16px;
    border-radius: 12px;
    background-color: #f9f9f9;
    /* background: linear-gradient(145deg, #ffffff, #f0f0f0); */
    gap: 0.65rem;
    width: 18rem;
    height: fit-content;
    max-width: 24rem;
    box-shadow: 0px 0px 8px 2px #5555600c;
    color: #0b0f3a;
}

.post .creater{
    display: flex;
    justify-content: space-between;
}

.post .creater .info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.post .creater .follow{
    display: flex;
    align-items: center;
    gap: 4px;
}

.post .creater .follow .icon{
    width: 1.3rem;
    height: 1.3rem;
    color: #161D6F;
    cursor: pointer;
}

.post .creater .follow span{
    font-size: 10px;
    color: #161D6F;
    cursor: pointer;
    padding: 0.17rem 0.5rem;
    border-radius: 8px;
    background: linear-gradient(90deg, #ff6a00, #e7197c);
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-size: 100%;
    color: transparent; 
}

.post .creater img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.post .creater p{
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.post .devider{
    opacity: 0.2;
}

.post .title{
    font-size: 14px;
    font-weight: 500;
    color: #161D6F;
}

.post .content p{
    font-size: 12px;
}
.post .content a{
    color: #2c3bd8;
    
}
.post .content .desc{
    margin-top: 0.8rem;
}

.post .actions{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 1.8rem;
}

.post .actions button{
    cursor: pointer;
    border-radius: 10px;
    width: 4rem;
    height: 1.58rem;
    border: 2px solid #161D6F;
    color: #0b0f3a;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Poppins';
    background-color: transparent;
    overflow: hidden;
    background-image: linear-gradient(to right, #161D6F, #c9cbe1);
    background-size: 0%;
    background-repeat: no-repeat;
}

.post .actions .icon{
    width: 1.7rem;
    height: 1.7rem;
    color: #161D6F;
    cursor: pointer;
}

/* Mobile Responsive */
@media screen and (max-width: 480px){
    .post{
        width: 100%;
        max-width: 100%;
    }
    .post .creater img{
        width: 24px;
        height: 24px;
    }
    .post .creater p{
        font-size: 12px;
    }
    .post .creater .follow .icon{
        width: 1.1rem;
        height: 1.1rem;
    }
    .post .creater .follow span{
        font-size: 8px;
        padding: 0.1rem 0.3rem;
        border-radius: 5px;
    }
    .post .title{
        font-size: 13px;
    }
    .post .content p{
        font-size: 11px;
    }
    .post .actions{
        gap: 10px;
    }
    .post .actions button{
        width: 3.3rem;
        height: 1.3rem;
        border-radius: 8px;
        font-size: 0.6rem;
    }
    .post .actions .icon{
        width: 1.5rem;
        height: 1.5rem;
    }
}