.home .postWrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 0.7rem;
    gap: 0.7rem;
    justify-content: space-between;
}

.guest .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.guest .content .head{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0px;
    width: 100%;
    height: clamp(180px, 40vw, 260px);
    font-weight: 600;
    margin-bottom: 0.5rem;
    background: repeating-linear-gradient(
        200deg, 
        #161D6F 0px, #2b37b1 150px, #161D6F 300px
    );
}

.guest .content .head h1{
    font-size: clamp(24px,5vw, 52px);
    color: rgba(255, 255, 255, 0.95);
    padding: 0 clamp(12px, 5vw, 52px);
    filter: drop-shadow(0 0 10px rgba(73, 68, 238, 0.36));
}

.guest .content .head p{
    font-size: clamp(11px, 2vw, 14px);
    color: rgba(255, 255, 255, 0.95);
    font-weight: 100;
    padding: 0 clamp(12px, 5vw, 52px);
}

.guest .content .features{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 16px 0;
}

.guest .content .features h2{
    font-size: clamp(18px, 5vw, 26px);
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.guest .content .features .list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 1rem clamp(1rem, 5vw, 4rem);
}

.guest .content .features .list .row{
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 1rem;
    border-radius: 10px;
    background: linear-gradient(90deg, #dae1f4 0%, #ede2f4 100%);
}

.guest .content .features .list h3{
    font-size: clamp(14px, 5vw, 16px);
    font-weight: 600;
    color: #333;
}

.guest .content .features .list p{
    font-size: clamp(10px, 50vw, 13px);
    font-weight: 100;
    color: #333;
}
