.backdrop {
    position: fixed;
    width: calc(100% - 145px);
    height: 100%;
    top: 68px;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(6px);
    z-index: 1;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    align-items: center;
    z-index: 100;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.add-users{
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    z-index: 1;
    border-radius: 8px;
    margin-top: 10px;  
    padding: 10px;
    height: 62vh;
    max-width: 520px;
    width: clamp(300px, 90%, 600px);
}

.add-users .close {
    position: absolute;
    top: -16px;
    right: -px;
    cursor: pointer;
    color: rgb(239, 240, 241);
}

.add-users .close .icon {
    font-size: 14px;
    border-radius: 50%;
    padding: 3px;
    background-color: #0b0f3a;
}

.add-users .user-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    max-height: 16rem;
    border-radius: 9px;
    padding: 8px;
    overflow: hidden;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.add-users .user-list .search {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 2px 8px;
}

.add-users .user-list .search .icon {
    width: 1.15rem;
    height: 1.15rem;
    cursor: pointer;
    color: #0b0f3a;
}

.add-users .user-list .search hr {
    height: 0.8rem;
    border: 1px solid #161D6F;
    opacity: 0.2;
}

.add-users .user-list .search input {
    font-size: 12px;
    border: none;
    outline: none;
    padding: 1px 2px;
    border-radius: 8px;
    width: 100%;
    background-color: transparent;
}

.add-users .user-list .people {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
    overflow-x: hidden;
    overflow-y: auto;
}

.add-users .added-list{
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: 16rem;
    gap: 6px;
    min-width: 8rem;
    padding: 8px;
    border-radius: 9px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.add-users .added-list .head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    font-weight: 500;
    color: #0b0f3a;
}

.add-users .added-list .head .icon {
    font-size: 18px;
    color: #0b0f3a;
}

.add-users .added-list .people {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.add-users .done {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    bottom: 10px;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #0b0f3a;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
}

.add-users .done .icon {
    font-size: 14px;
}
.add-users .done p {
    font-size: 12px;
}

.userItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    gap: 5px;
    padding: 3px 8px;
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, 0.4); */
    overflow: hidden;
}

.userItem .u-info{
    display: flex;
    gap: 5px;
    align-items: center;
}

.userItem .u-info img {
    width: 1.5rem;
    height: 1.rem;
    border-radius: 50%; 
    /* background: linear-gradient(45deg, #abb0ef, #e3a8a8);
    border: 2px solid transparent;
    box-sizing: border-box; */
}

.userItem .u-info p {
    font-size: 10px;
    color: #0b0f3a;
}

.userItem .icon {
    font-size: 16px;
    cursor: pointer;
    color: #0b0f3a;
}


/* Mobile Responsive */
@media screen and (max-width: 480px){
    .backdrop {
        width: 100%;
    }
}