.mainbodyNoAuth{
    position: relative;
    top: 68px;
}

.mainbodyAuth{
    position: relative;
    top: 68px;
    padding-top: 10px;
    left: 145px;
    width: calc(100% - 145px);
}

/* Mobile Responsive */
@media screen and (max-width: 480px){
    .mainbodyAuth{
        left: 0;
        width: 100%;
        top: 92px;
    }
}