*{
  margin: 0;
  padding: 0;
}

#root{
  min-height: 100vh;
  background-color: rgb(239 240 241);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
  font-family: 'Poppins';
}

::placeholder {
  font-family: 'Poppins';
  color: #9b9b9b;
}

input, select, textarea {
  border-radius: 4px;
  padding: 0px 8px;
  font-family: 'Poppins';
  color: #333;
  border: 1px solid #cccccc63;
}
  
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  padding: 0px;
  cursor: pointer;
  border-radius: 3px;
}