.navBAuth{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #0e0ec2b5, #360880c5) 1;
    background-color: white;
    height: 68px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}

.navBAuth .logo a{
    display: flex;
}

.navBAuth .logo a img{
    width: 9rem;
    margin: 0rem;
    pointer-events: none;
}

.navBAuth .links{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: 0.5rem;
}

.navBAuth .links a{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
}